<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="siteLogo">
    <div class="app-hero">
        <img src="https://przychodnianr1.pl/images/bg-image/mainbanner1-1-1.webp"
             alt="Grafika przedstawiająca przychodnię medyczną"
             class="header-image">
        <div class="hero-overlay">
            <p>
                <strong>Witaj w panelu rejestracji online.</strong>
                Możesz <em>przeglądać dostępne wizyty</em>, <u>rezerwować terminy</u> u lekarzy.
            </p>
            <p class="hero-note">
                Ułatwiliśmy zapisy wizyty dla waszej <mark>wygody</mark>
            </p>
        </div>
    </div>
</div>
</body>
</html>